<%- include('./partials/header') %>

  <p>Sweet Delights was founded in 1885 by two passionate candy enthusiasts,
     Nic D. and Mark F. Both Nic and Mark had a deep love for confectionery
      and a shared vision to create delectable and innovative candies that
       would bring joy to people's lives.</p>
<%- include('./partials/footer') %>
