body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}

a {
  color: #00b7ff;
}

p {
  width: 80%;
  text-align: center;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
