<%- include('../partials/header') %>

<ul>
  <% staff.forEach(element => { %>
  <li>
    <a href="/staff/<%=element.id%>"><%= element.name %></a>
  </li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
